



.flex {
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}


#container{
  display: grid;
  grid-template-columns: repeat(3 ,230px);
  justify-content: center;
  align-items: center;
}

img{
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}

#img-hover{
  transform: scale(1.02);
  border: 1px solid red;
}
#verify , #reset{
  display: none;

}